body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/background.jpg');
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 180px;
    text-align: center;
    background-image: url('images/container.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.75); 
    border-style: solid;
    border-color: whitesmoke;
}

.weather-info {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.current-weather {
    margin-top: 20px;
}
